
*{
    box-sizing: border-box;
    
}
body{
    width: 80%;
    padding-left: 90px;
    padding-right: 50px;
    padding-top: 30px;
}

#logo{
    position: relative;
    float: left;
    padding: 10px;
    margin: 0 auto;
}

li a{
    float: right;
    display: inline;
}

img.navigation{
    /*margin: 70px;*/
    padding: 1px 1px 1px 1px;
}
img.navigation1{
    
    padding: 1px 1px 1px 1px;
    float: right;
    margin-left: 5px;
}
/*@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');*/
h2 {

    font-family:"Yellowtail&display=swap",cursive ;
    font-size: x-large;
    font-weight: 300px;
    

}
#slogan{

    position:absolute;
    margin-left: 45px;
    margin-top: 10px;
}
#slogan1{
    position:absolute;
    margin-bottom: 0px;
    margin-top: 35px;
    margin-left: 45px;
}
header p{

    font-size:xx-small;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

